<meta charset="utf-8"  />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@ViewData["Title"] - Knockout_Init</title>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css"asp-append-version="true" />
<link href="~/manifest.json"/>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/Views/site.js" asp-append-version="true"></script>
<script src="~/js/knockout-js.js"asp-append-version="true"></script>
<script src="~/js/knockout-Grid.js"asp-append-version="true"></script>
<script src="~/service-worker.js"asp-append-version="true"></script>
<script src="~/js/components.js" asp-append-version="true"></script>