

<script src="~/js/Views/Curriculum.js"></script>

<div class="row m-0">
    <div class="col-md-6">
        <h3 class="text-muted font-weight-bold">Dados Cadastrais</h3>
        <form>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Seu nome completo" data-bind="value: LCv.name">
            </div>
            <div class="form-row d-flex justify-content-between m-0">
                <input type="text" class="form-control" maxlength="12" placeholder="Seu RG" style="width: 45%;" data-bind="value: LCv.RG, 
                                                                                                            valueUpdate:['afterkeydown']" onkeypress="LCv.maskRG()">
                <input type="text" class="form-control" placeholder="Seu CPF" style="width: 45%;" data-bind="value: LCv.CPF,
                                                                                                            valueUpdate:['afterkeydown']" onkeypress="LCv.maskCPF()">
            </div>
            <div class="form-group mt-3">
                <input type="email" class="form-control" placeholder="Digite seu melhor e-mail" data-bind="value: LCv.email">
            </div>
            <div class="form-row d-flex justify-content-between m-0">
                <input type="text" class="form-control" max="15" placeholder="Seu celular " style="width: 45%;" data-bind="value: LCv.celular,
                                                                                                                 valueUpdate:['afterkeydown']" onkeypress="LCv.maskCelular()">
                <input type="text" class="form-control" max="14" placeholder="Seu telefone " style="width: 45%;" data-bind="value: LCv.telefone,
                                                                                                                  valueUpdate:['afterkeydown']" onkeypress="LCv.maskTelefone()">
            </div>
            <div class="form-group mt-3">
                <textarea class="form-control" rows="5" placeholder="Digite suas espcializações todas separadas por ; (ponto e virgula)"data-bind="value: LCv.cursos"></textarea>
            </div>
            <div class="form-group mt-3">
                <textarea class="form-control" rows="5" placeholder="Digite as empresas que ja trabalhou todas separadas por ; (ponto e virgula)"></textarea>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <h3>Curriculo</h3>
        <div id="curriculo">
            <div class="row m-0 d-flex justify-content-center">
                <h3 class="mt-3" data-bind="text: LCv.name"></h3>
            </div>
            <div class="container">
                <p>E-mail: <span id="email" data-bind="text: LCv.email"></span></p>
                
                <div class="row m-0">
                    <p>Celular: <span id="celular" data-bind="text: LCv.celular"></span></p>
                    <p>Telefone: <span id="telefone" data-bind="text: LCv.telefone"></span></p>
                </div>
                
                <div class="row m-0">
                    <p>RG: <span id="rg" data-bind="text: LCv.RG"></span></p>
                    <p>CPF: <span id="cpf" data-bind="text: LCv.CPF"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        LCv.Init();
        setTimeout(() => { ko.applyBindings(LCv) }, 300);
    });
</script>