
@model Knockout_Init.Models.PersonViewModel

@{ 
    Layout = "_CreateModel";
}

<h3>@Html.Raw("Esses componentes foram criados pelo Knockout no arquivo (Components.js) e são renderizados de forma automatica somente colocando os atributos no ViewModel de(PersonViewModel)")</h3>

<script>
    ko.applyBindings();
</script>